*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Merriweather', serif;
    color: #e0e4cc;
    font-size: 1.2em;
    line-height: 1.6;
    background-image: url("../bilder/illuminated-cityscape-against-blue-sky-at-night-316093.jpg");
    overflow-x: hidden;
}